.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title{
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  position: relative;

  &::after{
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    background-color: #21062a;
    top: 25px;
    margin-left: 15px;
  }
}

.btn{
  padding: 15px 55px;
  background-color: #5A0D67;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  transition: all .8s;
  display: inline-block;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: #5A0D67;
  }
}

@media(max-width: 600px){
  .title{
    &::after{
      display: none;
    }
  }
}

/*===================================================header===========================================*/

.header{
  background-image: url('../images/header__fon.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 700px;
  color: white;

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    margin-bottom: 115px;
  }

  &__phone{
    font-weight: 400;   
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
  }

  &__content{
    position: relative;
  }

  &__title{
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
  }

  &__subtitle{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__desription{
    max-width: 800px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 44px;
  }

  &__social{
    padding: 70px 0 20px 66px;
    display: flex;
    align-items: center;

    &-item{
      margin-right: 10px;
    }
  }

  &__car{
    position: absolute;
    right: 0;
    top: 215px
  }
}

@media(max-width: 1024px){

  .header{
    &__car{
      width: 80%;
    }
  }
}

@media(max-width: 900px){
  .header{
    &__phone{
      font-size: 24px;
      line-height: 36px;
    }

    &__title{
      font-size: 54px;
      line-height: 74px;

    }

    &__subtitle{
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
    }

    &__social{
      padding: 30px 0 20px 53px;
    }
  }
}

@media(max-width: 740px){
  .header{
    &__top{
      margin-bottom: 60px;
    }

    &__content{
      text-align: center;
    }

    &__title{
      font-size: 36px;
      line-height: 54px;
    }

    &__car{
      width: 100%;
      position: static;
    }

    &__social{
      padding: 30px 0 50px 0px;
      justify-content: center;
    }
  }
}

@media(max-width: 520px){
  .header{
    &__logo{
      margin-bottom: 20px;
      width: 100%;
    }

    &__top{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    &__title{
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 340px){
  .header{
    &__title{
      font-size: 44px;
      line-height: 50px;
    }
  }
}


/*--------------------------------------------------services------------------------------------------*/

.services{
  padding: 300px 0 100px;

  &__title{
    margin-bottom: 50px;
  }

  &__inner{
    display: flex;
    margin-bottom: 100px;
  }

  &__description{
    width: 504px;
    margin-right: 100px;
  }


  &__box{
    margin-bottom: 73px;
    &-title{
      color: #5A0D67;
      margin-bottom: 12px;
    }

    &-text{
      p{
        margin-bottom: 12px;
      }
    }
  }

  &__box + &__box{
    margin-bottom: 50px;
  }

  &__btn{
    position: relative;

    &::after{
      content: 'ЖМИ';
      color: #c4c4c4;
      position: absolute;
      margin-left: 130px;
    }

    &::before{
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      background-color: #c4c4c4;
      right: -65px;
      top: 24px;
    }
  }

  &__list{
    list-style: none;
    counter-reset: counter;
  }

  &__item{
    cursor: pointer;
    counter-increment: counter;
    border: 2px solid #c4c4c4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all .5s;

    &::before{
      content: '0' counter(counter);
      left: 20px;
      position: absolute;
      color: #c4c4c4;
      font-size: 36px;
      font-weight: 400;
      line-height: 54px;
      transform: rotate(-90deg);
      transition: all .5s;
    }

    &-title{
      font-size: 24px;
      font-weight: 300;

    }

    &:hover{
      width: 500px;
      border: 2px solid #21062a;
      
      .services__item-title{
        color: #5A0D67;
      }

      &::before{
        color: #5A0D67;
      }
    }
  }

}

@media(max-width: 1150px){
  .services{
    &__item{
      &:hover{
        width: 450px;
      }
    }
  }
}

@media(max-width: 1024px){
  .services{
    padding-top: 125px;
    padding-bottom: 50px;


    &__title{
      margin-bottom: 25px;
    }
    
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }

    &__list{
      order: -1;
      margin-bottom: 30px;
      width: 100%;
      padding-left: 0;
    }

    &__item{
      width: 100%;

      &:hover{
        width: inherit;
      }
    }

    &__description{
      width: 100%;
      margin-right: 0;
    }

  }
}

@media(max-width: 600px){
  .services{
    padding-top: 100px;

    &__inner{
      margin-bottom: 50px;
    }

    &__title{
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 10px;
    }

    &__item{
      &::before{
        top: 5px;
      }
    }

    &__description{
      text-align: center;
    }

    &__btn{
      &::after,
      &::before{
        display: none;
      }
    }
  }
}

@media(max-width: 520px){
  .services{
    padding-top: 50px;

    &__item{
      padding-left: 60px;

      &::before{
        left: 11px;
      }
    }
  }
}


/*=====================benefits====================*/

.benefits{
  padding-bottom: 100px;
  &__inner{
    display: flex;
  }

  &__img{
    margin-right: 95px;
  }

  &__title{
    margin-bottom: 50px;
    margin-left: 185px;
  }

  &__description{
    width: 100%;
  }

  &__box{
    padding: 23px 10px 45px 185px;
    width: 785px;
    background-color: #21062a;
    color: white;
  }

  &__item{
    max-width: 320px;
    margin-bottom: 20px;

    &-number{
      font-weight: normal;
      font-size: 36px;
      line-height: 53px;
      text-transform: uppercase;
    }

    &-title{
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
    }

    &-text{
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #C4C4C4;
    }
  }
}

@media(max-width: 1024px){
  .benefits{
    &__img{
      display: none;
    }

    &__box{
      width: 100%;
    }
  }
}

@media(max-width: 768px){
  .benefits{
    &__inner{
      text-align: center;
    }

    &__title{
      margin-left: 0;
    }

    &__box{
      padding: 25px 15px;
    }

    &__item{
      max-width: 100%;

      &-num{
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}
/*--------------slider---------------------------*/

.slider{
  margin-bottom: 100px;

  &__title{
    margin-bottom: 56px;
  }

  &__inner{
  
    margin: 0 -7px;
  }

  &__item{


    &-box{
      padding: 5px 5px 16px 5px;
      border: 1px solid #C4C4C4;
      text-align: center;
      margin: 0 7px;
      transition: all .7s;

      &:hover{
        color: white;
        background-color: #5A0D67;
      }
    }

    &-img{
      max-width: 100%;
      margin-bottom: 23px;
    }

    &__title{
      font-weight: 300;
      margin-bottom: 5px;
    }
  }

  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    cursor: pointer;

    button{
      font-size: 0;
      border: none;
      padding: 0;
      margin: 0 10px;
      width: 50px;
      height: 1px;
      background-color: #c4c4c4;

    }
  }

  .slick-active{
    
    button{
      background-color: #5A0D67;
      height: 3px;
    }
  }
}

@media (max-width: 600px){
  .slider{
    &__item{
      &-img{
        width: 100%;
      }
    }
  }
}

@media(max-width: 520px){
  .slider{

    &__title{
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    .slick-dots{

      button{
        width: 15px;
      }
    }
  }
}

/*=======================contancts======================*/

.contacts{
  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__title{
    margin-bottom: 50px;
  }

  &__item{
    margin-bottom: 20px;

    &-title{
      color: #5A0D67;
    }
  }

  &__form{
    padding: 50px 75px 57px;
    text-align: center;
    background-color: #21062a;

    &-title{
      color: white;
      margin-bottom: 16px;
      margin-left: 53px;
      text-align: left;

      &::after{
        background-color: white;
      }
    }

    &-btn{
      margin-top: 78px;
      border: none;
    }
  }

  &__input{
    color: white;
    width: 450px;
    height: 75px;
    border: 1px solid #c4c4c4;
    margin-bottom: 12px;
    display: block;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    padding: 0 15px;
    text-align: center;

    &::placeholder{
      font-family: 'Oswald', sans-serif;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      color: #c4c4c4;
    }
  }
}

@media(max-width: 992px){
  .contacts{
    &__inner{
      display: block;
      text-align: center;
    }

    &__list{
      margin-bottom: 30px;
    }

    &__input{
      width: 100%;
    }

    &__form{
      margin: 0 -10px;
      &-title{
        text-align: center;
        margin-left: 0;
      }
      &-btn{
        margin-top: 30px;
      }
    }
  }
}

@media(max-width: 520px){
  .contacts{
    &__form{
      padding: 50px 10px 57px;

      &-title{
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}

/*===============footer================================*/

.footer{
  color: white;
  background-color: #21062a;
  padding: 24px 0;
  
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__social{
    display: flex;

    &-link{
      margin: 0 5px;
    }
  }
}

@media(max-width: 650px){
  .footer{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }

    &__social{
      width: 100%;
      justify-content: center;
      margin: 20px 0;
    }
  }
}
